<!DOCTYPE html>
<html>
<head>   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ site.title }} - {{ site.raw_content }}</title>
    <meta name="description" content="{{ site.content }}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--     Google authorship -->    
<!--  <link rel="author" href="https://plus.google.com/104973030351788858578?rel=author">
 -->   
  <link rel="stylesheet" type="text/css" href="/template/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/template/assets/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />
    <!-- This is for syntax highlight -->
    <link rel="stylesheet" type="text/css" href="/template/assets/css/syntax.css">
    <!-- Customisation  -->
    <link rel="stylesheet" type="text/css" href="/template/assets/css/main.css" />

</head>
<body class="home-template">

    
    {% block content %}
    {% endblock %}

    <footer class="site-footer">
        <a class="subscribe icon-feed" href="/feed"><span class="tooltip">Subscribe!</span></a>
        <div class="inner">
             <section class="copyright">All content copyright <a href="/">{{ site.title }}</a> &copy; 2014&bull; All rights reserved.</section>
             <section class="poweredby">Made with farbox using <a href="http://github.com/rosario/kasper">Kasper theme</a></section>
        </div>
    </footer>

    
    <script type="text/javascript" src="/template/assets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/template/assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/template/assets/js/index.js"></script>


</body>
</html>
